<div class="content-wrapper">
    <div class="tui-admin-title" ng-init="getList()">
        <h3>委托评估</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <button type="button" ng-class="{true:'btn btn-default active',false:'btn btn-default'}[history==0]" ng-click="getList(0)">进行中</button>
                            <button type="button" ng-class="{true:'btn btn-default active',false:'btn btn-default'}[history==1]" ng-click="getList(1)">已完成</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="输入订单号查找" ng-model="searchCode"/>
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="search()">
                      搜索
                  </button>
               </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="car-list-wrap">
        <div id="myAlert" class="alert alert-warning" ng-if="pageTotal==0">
            <a href="" class="close" data-dismiss="alert">&times;</a>
            <strong>提示！</strong>没有记录。
        </div>
        <ul class="car-list">
            <li class="car-list-item" ng-repeat="obj in list">
                <table class="car-list-tab">
                    <caption>订单编号：<span ng-bind="obj.AppraiseOrderCode"></span></caption>
                    <tr>
                        <td class="car-list-pic">
                            <a href="item.html?CarNo={{obj.CarNo}}" target="_blank">
                                <img  class="car-list-cover" ng-src="{{obj.HomePicID||DefaultCarIcon}}"/>
                                <p class="car-list-carflag">车源号：<span ng-bind="obj.CarNo"></span></p>
                            </a>
                        </td>
                        <td class="car-list-info">
                            <h4 ng-bind="obj.SeriesName+obj.SpecName"></h4>
                            <p>评估费用：<strong class="text-orange" ng-bind="obj.AppraiserFee|currency:'￥'"></strong></p>
                            <p>下单时间：<span class="text-info" ng-bind="obj.OrderTime|DateFormat:'yyyy-MM-dd'"></span>&nbsp;&nbsp;&nbsp;&nbsp;当前状态：<span class="text-success"  ng-bind="obj.OrderFlag|ApprOrderStatus"></span>
                                <span class="text-danger" ng-if="obj.RevokeFlag!=0" ng-bind="obj.RevokeFlag|OrderRevoke"></span></p>
                            <p>评估师：<span  class="text-info" ng-bind="obj.UserName"></span>&nbsp;&nbsp;<span  class="text-info" ng-bind="obj.Contact"></span></p>
                            <p class="car-list-info-span">
                                <span>行驶里程：<i ng-bind="obj.Mileage"></i> 万公里</span>
                                <span>购买年限：<i ng-bind="obj.Buyyear|DateFormat:'yyyy-MM-dd'"></i></span>
                                <span>过户次数：<i ng-bind="obj.TransferNo"></i></span>
                            </p>
                        </td>
                        <td class="car-list-toolbar">
                            <a href="#/pay?OrderCode={{obj.AppraiseOrderCode}}&&Amount={{obj.AppraiserFee}}"  class="btn-operate btn-profile" ng-if="obj.OrderFlag==0&&obj.RevokeFlag==0">支付费用</a>
                            <a href=""    class="btn-operate btn-profile" ng-if="obj.OrderFlag>=3">检测报告</a>
                            <a href="" class="btn-operate btn-profile" ng-if="obj.OrderFlag>=3">评估报告</a>
                            <a href="" class="btn-operate btn-profile" ng-if="obj.OrderFlag==4">交易评价</a>
                            <a href=""  class="btn-operate btn-profile" ng-if="obj.OrderFlag==0 && obj.RevokeFlag==0" ng-click="revokeDialog(obj)">撤销委托</a>
                        </td>
                    </tr>
                </table>
        </ul>
    </div>
    <div pagination  total-items="pageTotal" ng-model="currentPage" ng-change="changePager()"
         previous-text="上一页" next-text="下一页" max-size="10" ng-show="pageTotal>PAGE_CONF.PageSize"></div>

</div>