<div class="wrapper find-pwd-container">
    <div class="find-pwd-content">
        <div class="password-title">
            找回密码
        </div>
        <div class="clearfix">
            <div class="row col-md-8 col-md-offset-3 password-steps">
                <form class="form-horizontal" name="pwdForm">
                    <div class="form-group">
                        <label class="control-label col-md-2">手机号码</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control" ng-model="Contact" ng-pattern="/^(0|86)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/" ng-blur="Exist()" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">新&nbsp;密&nbsp; 码</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" ng-model="Pwd" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">确认密码</label>
                        <div class="col-md-5">
                            <input type="password" class="form-control" ng-model="confPwd" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">验&nbsp;证&nbsp; 码</label>
                        <div class="col-md-5">
                            <input type="text" class="form-control password-form-code"   placeholder="请输入验证码" required ng-model="Code" >
                            <button type="button" class="btn btn-default password-code-btn" ng-click="fetchkeyCode()" ng-disabled="sent" >
                                 <span class="phoneCountDown" ng-show="sent">
                                    60
                                 </span>
                                获取验证码
                            </button>
                        </div>
                    </div>
                </form>
                <div class="alert-content">
                    <div class="alert {{alert.type}}" ng-bind="alert.msg">

                    </div>
                </div>
            </div>
        </div>


        <div class="button-wrapper center-block">
               <button class=" btn  btn-block btn-lg btn-orange" ng-click="password()" ng-disabled="pwdForm.$invalid">确认提交</button>
        </div>
    </div>




</div>